<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVxvoZvg7VdCeiy1RUrNU4gF-jDWoovJw</string>
	<key>GCM_SENDER_ID</key>
	<string>282489982952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shashank.quickmart</string>
	<key>PROJECT_ID</key>
	<string>quick-mart-af4ae</string>
	<key>STORAGE_BUCKET</key>
	<string>quick-mart-af4ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282489982952:ios:5dd5b2d15da735e8325e5d</string>
</dict>
</plist>